%p= "Hello #{@member.try(:first_name) || @member.email}!"

%p
  Thanks for joining the Victoria University Table Tennis Club!


%p= link_to 'Group on Facebook', 'https://www.facebook.com/groups/484407691759153/', class: 'btn btn-primary'