.body {
  padding-top: 50px;
}

.main-content {
  padding: 40px 15px;
  text-align: center;
}

.field-label {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
  font-size: 1.6rem;
}

.signups-page {
	max-width: 600px;
	padding-left: 150px;
}